@model JamshidDashBoard.Models.Monitor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Monitor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalPageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalPageUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MonitorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
